<template>
  <section>
    <div style="height:1000px;background-color:#f2f3f5">
      <div
        class="container-fluid"
        style="background-color:#f2f3f5;padding-left:220px"
      >
        <div class="section-title text-center">
          <h3 style="padding-top:10%;color:black;">Product List</h3>
        </div>
        <div
          class="row"
          style="min-height:100%;padding-bottom:10%;padding-left:15px"
        >
          <div class="col-12" style="background-color: #f2f3f5;">
            <div class="table-responsive">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Code</th>
                    <th class="text-center" scope="col">Name</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">Image</th>
                    <th class="text-center" scope="col">
                      Option
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="product in productlist.list" :key="product.code">
                    <td class="text-center" style="vertical-align: sub;">
                      {{ product.code }}
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      {{ product.name }}
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      {{ product.price }}
                    </td>
                    <td class="text-center p-0" style="vertical-align: sub;">
                      <a
                        :href="
                          'http://localhost:8080/productImage?code=' +
                            product.code
                        "
                        data-rel="prettyPhoto[gal]"
                        class="global-radius"
                        ><img
                          :src="
                            'http://localhost:8080/productImage?code=' +
                              product.code
                          "
                          style="width:40px;height:40px"
                      /></a>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <nuxt-link :to="'/admin/productlist/product/' + product.code" style="color:antiquewhite">Edit</nuxt-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="contact-form">
              <div class="text-center row justify-content-center">
                <nuxt-link 
                  v-for="page in productlist.navigationPages"
                  :key="page"
                  :to="page != -1 ? '/admin/productlist/' + page : '/admin/productlist/' + $route.params.page"
                  class="sim-btn hvr-rectangle-out"
                  style="width:50px;height:50px;"
                >{{page != -1 ? page : "..."}}</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  data: function() {
    return {
      productlist: {}
    };
  },
  created: function() {
    var url =
      "http://localhost:8080/api/admin/productlist/" + this.$route.params.page;
    axios
      .get(url)
      .then(res => {
        this.productlist = res.data;
      });
  },
  layout: "adminlayout"
};
</script>
<style scoped></style>
