<template>
  <div style="min-height: 1000px; background-color: #f2f3f5">
    <div
      class="container-fluid"
      style="background-color: #f2f3f5; padding-left: 220px"
    >
      <div class="section-title text-center">
        <h3 style="padding-top: 10%; color: black">Upload or Edit product</h3>
      </div>

      <div class="">
        <ValidationObserver v-slot="{ handleSubmit }">
          <form enctype="multipart/form-data" style="width: 100%">
            <div
              class="row"
              style="min-height: 100%; padding-bottom: 10%; padding-left: 15px"
            >
              <div class="col-12" style="background-color: #f2f3f5">
                <div class="table-responsive">
                  <table class="table table-striped table-dark">
                    <thead>
                      <tr>
                        <th class="text-center" scope="col">Code</th>
                        <th class="text-center" scope="col">Name</th>
                        <th class="text-center" scope="col">Price</th>
                        <th class="text-center" scope="col">Upload Image</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td
                          class="text-center"
                          style="color: red; vertical-align: sub"
                        >
                          <ValidationProvider
                            name="name"
                            rules="required"
                            v-slot="{ errors }"
                          >
                            <section class="pb-2">
                              <input
                                class="form-control"
                                type="text"
                                v-model="code"
                                @input="changeDup"
                              />
                            </section>
                            <section>
                              <span>{{ errors[0] }}</span>
                            </section>
                            <section>
                              <span>{{ duplicatedCode }}</span>
                            </section>
                          </ValidationProvider>
                        </td>
                        <td
                          class="text-center"
                          style="color: red; vertical-align: sub"
                        >
                          <ValidationProvider
                            name="code"
                            rules="required"
                            v-slot="{ errors }"
                          >
                            <section class="pb-2">
                              <input
                                class="form-control"
                                type="text"
                                v-model="name"
                              />
                            </section>
                            <section>
                              <span>{{ errors[0] }}</span>
                            </section>
                            <section></section>
                          </ValidationProvider>
                        </td>
                        <td
                          class="text-center"
                          style="color: red; vertical-align: sub"
                        >
                          <ValidationProvider
                            name="price"
                            rules="required|min_value:0"
                            v-slot="{ errors }"
                          >
                            <section class="pb-2">
                              <input
                                class="form-control"
                                type="text"
                                v-model="price"
                              />
                            </section>
                            <section>
                              <span>{{ errors[0] }}</span>
                            </section>
                            <section></section>
                          </ValidationProvider>
                        </td>
                        <td class="text-center" style="vertical-align: sub">
                          <input
                            class="form-control"
                            type="file"
                            enctype="multipart/form-data"
                            id="file"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button
                      class="sim-btn hvr-rectangle-out"
                      @click.prevent.stop="handleSubmit(submitForm)"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </ValidationObserver>
      </div>
    </div>
  </div>
</template>
<script>
import { ValidationObserver } from "vee-validate";
import { ValidationProvider } from "vee-validate/dist/vee-validate.full.esm";
import axios from "axios";
export default {
  layout: "adminlayout",
  methods: {
    submitForm() {
      var form = new FormData();
      var imagefile = document.querySelector("#file");
      form.append("fileData", imagefile.files[0]);
      form.append("code", this.code);
      form.append("name", this.name);
      form.append("price", parseFloat(this.price));
      form.append("newProduct", true);

      axios
        .post("http://localhost:8080/api/admin/productlist/add", form, {
          headers: {
            Authorization : this.$cookies.get("token")
          }
        })
        .then(res => {
          if (res.status === 200) {
            alert("Add successfully!");
            this.$router.push("/admin/productlist/1");
          } else {
            this.duplicatedCode = res.data;
          }
        });
    },
    changeDup() {
      this.duplicatedCode = "";
    }
  },
  components: {
    ValidationObserver,
    ValidationProvider
  },
  data: function() {
    return {
      code: "",
      name: "",
      price: "",
      duplicatedCode: ""
    };
  },
  middleware: ["isManager"]
};
</script>
