<template>
  <section>
    <div class="container-fluid" style="background-color:#f2f3f5">
      <div
        class="row justify-content-center"
        style="min-height:500px;padding-top:7.5%;padding-bottom:5%"
      >
        <div class="col-4 pb-5">
          <div class="pricingTable" style="padding-top:10%;height:100%">
            <div class="pricingTable-header p-0 pt-2">
              <h3 class="title">Customer Information</h3>
            </div>
            <ul class="pricing-content">
              <li>
                Name: <span>{{ customerInfo.name }}</span>
              </li>
              <li>
                Email: <span>{{ customerInfo.email }}</span>
              </li>
              <li>
                Phone: <span>{{ customerInfo.phone }}</span>
              </li>
              <li>
                Address: <span>{{ customerInfo.address }}</span>
              </li>
              <br />
              <li>
                Quantity: <span>{{ information.quantityTotal }}</span>
              </li>
              <li>
                Total:
                <span>${{ information.amountTotal }} </span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 justify-content-center row">
          <form>
            <a class="sim-btn hvr-rectangle-out" href="/mycart">Edit Cart</a>
            <a class="sim-btn hvr-rectangle-out" href="/mycart/customerform"
              >Edit Customer Info</a
            >
            <button
              class="sim-btn hvr-rectangle-out"
              @click.stop.prevent="send"
            >
              Send
            </button>
          </form>
        </div>
      </div>
    </div>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import axios from "axios";
import MyFooter from "~/components/footer.vue";
export default {
  middleware: ["alreadyAuthenticated"],
  data: function() {
    return {
      information: {},
      customerInfo: {}
    };
  },
  created: function() {
    this.information = this.$cookies.get("mycart");
    this.customerInfo = this.information.customerInfo;
  },
  components: {
    MyFooter
  },
  methods: {
    send: function() {
      axios.post("http://localhost:8080/api/mycart/confirmation", this.$cookies.get("mycart")).then(res => {
        if (res.status === 204) {
          this.$router.replace("/mycart");
        } else if (res.status === 406) {
          this.$router.replace("/mycart/customerform");
        } else {
          this.$cookies.set("mycart", null)
          this.$cookies.set("lastOrderNum", res.data)
          this.$router.replace("/mycart/final");
        }
      });
    }
  }
};
</script>
