<template>
  <section>
    <div id="contact" class="section db" style="min-height:850px">
      <div class="container-fluid">
        <div class="section-title text-center">
          <h3 style="padding-top:10%">Customer Information</h3>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="contact_form">
              <ValidationObserver v-slot="{ handleSubmit }">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <ValidationProvider
                          name="name"
                          rules="required|alpha"
                          v-slot="{ errors }"
                        >
                          <input
                            class="form-control mb-1"
                            placeholder="Name"
                            v-model="customerForm.name"
                            required
                          />
                          <span style="color: red">{{ errors[0] }}</span>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <ValidationProvider
                          name="email"
                          rules="required|email"
                          v-slot="{ errors }"
                        >
                          <input
                            class="form-control mb-1"
                            type="email"
                            placeholder="Email"
                            required="required"
                            v-model="customerForm.email"
                          />
                          <span style="color: red">{{ errors[0] }}</span>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <ValidationProvider
                          name="phone"
                          rules="required|digits:10"
                          v-slot="{ errors }"
                        >
                          <input
                            class="form-control mb-1"
                            placeholder="Phone number"
                            required="required"
                            v-model="customerForm.phone"
                          />
                          <span style="color: red">{{ errors[0] }}</span>
                        </ValidationProvider>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <ValidationProvider
                          name="address"
                          rules="required"
                          v-slot="{ errors }"
                        >
                          <input
                            class="form-control mb-1"
                            placeholder="Address"
                            required="required"
                            v-model="customerForm.address"
                          />
                          <span style="color: red">{{ errors[0] }}</span>
                        </ValidationProvider>
                      </div>
                    </div>

                    <div class="col-lg-12 text-center">
                      <div id="success"></div>
                      <button
                        class="sim-btn hvr-rectangle-out"
                        data-text="Send Message"
                        @click.stop.prevent="handleSubmit(submit)"
                      >
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </ValidationObserver>
            </div>
          </div>
        </div>
      </div>
    </div>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import axios from "axios";
import MyFooter from "~/components/footer.vue";
import { ValidationObserver } from "vee-validate";
import { ValidationProvider } from "vee-validate/dist/vee-validate.full.esm";
export default {
  middleware: ["alreadyAuthenticated"],
  data: function() {
    return {
      customerForm: {}
    };
  },
  created: function() {
    axios
      .post(
        "http://localhost:8080/api/mycart/getcustomerform",
        this.$cookies.get("mycart")
      )
      .then(res => {
        this.customerForm = res.data;
      });
  },
  components: {
    MyFooter,
    ValidationProvider,
    ValidationObserver
  },
  methods: {
    submit() {
      var form = new FormData();
      var mycart = this.$cookies.get("mycart");
      mycart.customerInfo =  {
        name: this.customerForm.name,
        address: this.customerForm.address,
        email: this.customerForm.email,
        phone: this.customerForm.phone,
        valid: this.customerForm.valid
      };
      axios
        .post("http://localhost:8080/api/mycart/savecustomerform", mycart)
        .then(res => {
          if (res.data.valid === false) {
          } else if (res.status === 406) {
            this.$router.replace("/mycart");
          } else {
            this.$cookies.set("mycart", res.data);
            this.$router.replace("/mycart/confirmation");
          }
        });
    }
  }
};
</script>
