<template>
  <section>
    <div
      class="container-fluid justify-content-center text-center"
      style="min-height:850px; background-color:#f2f3f5"
    >
      <h3 style="padding-top:20%">Thank you for Order</h3>
      Your order number is: <span>{{ $cookies.get("lastOrderNum") }}</span>
    </div>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import axios from "axios";
import MyFooter from "~/components/footer.vue";
export default {
  middleware : ["alreadyAuthenticated"],
  components: {
    MyFooter
  }
};
</script>
