<template>
  <section>
    <section v-show='$cookies.get("mycart") === null || $cookies.get("mycart").quantityTotal === 0'>
      <div
        class="container-fluid justify-content-center"
        style="min-height:850px; background-color:#f2f3f5"
      >
        <h2 style="padding-top:20%">There is no items in Cart</h2>
        <nuxt-link to="/productlist/1">Product List</nuxt-link>
      </div>
      <MyFooter></MyFooter>
    </section>
    <section v-show='$cookies.get("mycart") != null && $cookies.get("mycart").quantityTotal != 0'>
      <div class="section db" style="min-height:850px;background-color:#f2f3f5">
        <div class="container-fluid">
          <div class="section-title text-center">
            <h3 style="padding-top:10%;color:black">My Cart</h3>
          </div>

          <div class="">
            <form style="width:100%;background-color:white">
              <div class="row">
                <div class="col-12" style="background-color: #f2f3f5;">
                  <div class="table-responsive">
                    <table class="table table-striped table-dark">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">Code</th>
                          <th class="text-center" scope="col">Name</th>
                          <th class="text-center" scope="col">Price</th>
                          <th class="text-center" scope="col">Quantity</th>
                          <th class="text-center" scope="col">Subtotal</th>
                          <th class="text-center" scope="col">Image</th>
                          <th class="text-center" scope="col">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          v-for="productInfo in mycart.cartLines"
                          :key="productInfo.productInfo.code"
                        >
                          <td class="text-center" style="vertical-align: sub;">
                            <span>{{ productInfo.productInfo.code }}</span
                            ><input
                              type="hidden"
                              th:name="|cartLines[${varStatus.index}].productInfo.code|"
                              th:value="${cartLineInfo.productInfo.code}"
                            />
                          </td>
                          <td class="text-center" style="vertical-align: sub;">
                            <span>{{ productInfo.productInfo.name }}</span>
                          </td>
                          <td class="text-center" style="vertical-align: sub;">
                            <span>{{ productInfo.productInfo.price }}</span>
                          </td>
                          <td
                            class="text-center p-0"
                            style="vertical-align: sub;"
                          >
                            <input
                              class="form-control"
                              v-model="productInfo.quantity"
                            />
                          </td>
                          <td class="text-center" style="vertical-align: sub;">
                            <span>{{ productInfo.amount }}</span>
                          </td>
                          <td
                            class="text-center p-0"
                            style="vertical-align: sub;"
                          >
                            <a
                              :href="
                                'http://localhost:8080/productImage?code=' +
                                  productInfo.productInfo.code
                              "
                              data-rel="prettyPhoto[gal]"
                              class="global-radius"
                              ><img
                                :src="
                                  'http://localhost:8080/productImage?code=' +
                                    productInfo.productInfo.code
                                "
                                style="width:40px;height:40px"
                            /></a>
                          </td>
                          <td class="text-center" style="vertical-align: sub;">
                            <a
                              @click="
                                removeProduct(
                                  'http://localhost:8080/api/mycart/remove/' +
                                    productInfo.productInfo.code
                                )
                              "
                              href="/mycart"
                              style="color:antiquewhite"
                              >Remove</a
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="row text-center">
                    <div class="col-4">
                      <div id="success"></div>
                      <button
                        class="sim-btn hvr-rectangle-out"
                        value="Update Quantity"
                        @click.stop.prevent="updateQuantity"
                      >
                        Update Quantity
                      </button>
                    </div>
                    <div class="col-4">
                      <nuxt-link
                        class="sim-btn hvr-rectangle-out"
                        to="/mycart/customerform"
                        >Enter Info</nuxt-link
                      >
                    </div>
                    <div class="col-4">
                      <a class="sim-btn hvr-rectangle-out" href="/productList/1"
                        >Continue Buy</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <MyFooter></MyFooter>
    </section>
  </section>
</template>
<script>
import axios from "axios";
import MyFooter from "~/components/footer.vue";
export default {
  middleware: ["alreadyAuthenticated"],
  data: function() {
    return {
      mycart: {}
    };
  },
  created: function() {
    if (this.$cookies.get("mycart") != null) {
      this.mycart = this.$cookies.get("mycart");
    }
  },
  components: {
    MyFooter
  },
  methods: {
    removeProduct(url) {
      axios.post(url, this.mycart).then(res => {
        this.$cookies.set("mycart", res.data);
      });
    },
    updateQuantity() {
      axios
        .post("http://localhost:8080/api/mycart", this.mycart)
        .then(res => {
          this.$cookies.set("mycart", res.data);
          location.reload();
        });
    }
  }
};
</script>
