<template>
  <section>
    <div
      id="products"
      class="section wb px-0 pb-3"
      style="background-color:#f2f3f5;min-height:85%"
    >
      <div class="container-fluid">
        <div class="section-title text-center">
          <h3 style="padding-top:5%">Products</h3>
          <p>Check out our products everyday!</p>
        </div>

        <div
          class="gallery-list row text-center d-flex justify-content-between"
        >
          <div
            v-for="product in list"
            class="col-md-12 col-lg-4 col-sm-12 gallery-grid justify-content-center d-flex"
            :key="product.code"
          >
            <div class="gallery-single fix" style="width:fit-content">
              <img
                :src="'http://localhost:8080/productImage?code=' + product.code"
                style="width: 375px; height:375px"
              />
              <div class="img-overlay">
                <h3>
                  Code: <span>{{ product.code }}</span> <br />
                  Name: <span>{{ product.name }}</span> <br />
                  Price: $<span>{{ product.price }}</span> <br /><a
                    class="btn-slider hvr-rectangle-out animated fadeInDown"
                    style="background-color:black;width:65%;color:white"
                    @click="
                      buyProduct(
                        'http://localhost:8080/api/mycart/buy/' + product.code
                      )
                    "
                    >BUY</a
                  >
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <div class="text-center row justify-content-center">
          <nuxt-link
            v-for="index in page.navigationPages"
            :key="index"
            :to="
              index != -1
                ? '/productlist/' + index
                : '/productlist/' + $route.params.page
            "
            class="sim-btn hvr-rectangle-out"
            style="width:50px;height:50px;"
            >{{ index != -1 ? index : "..." }}</nuxt-link
          >
        </div>
      </div>
    </div>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import axios from "axios";
import MyFooter from "~/components/footer.vue";
export default {
  middleware: ["alreadyAuthenticated"],
  created: function() {
    var page = this.$route.params.page;
    var url = "http://localhost:8080/api/productlist/" + page;
    axios.get(url).then(res => {
      this.page = res.data;
      this.list = res.data.list;
    });
  },
  data: function() {
    return {
      page: {},
      list: []
    };
  },
  components: {
    MyFooter
  },
  methods: {
    buyProduct(url) {
      var mycart = this.$cookies.get("mycart");
      if (mycart != null) {
        axios.post(url, this.$cookies.get("mycart")).then(res => {
          if (res.status === 200) {
            this.$cookies.set("mycart", res.data);
            this.$router.push("/mycart");
          } else {
            alert("Error");
          }
        });
      } else {
        axios.post(url).then(res => {
          if (res.status === 200) {
            this.$cookies.set("mycart", res.data);
            this.$router.push("/mycart");
          } else {
            alert("Error");
          }
        });
      }
    }
  }
};
</script>
