<template>
  <section>
    <div class="container-fluid" style="background-color:#f2f3f5;">
      <div
        class="row justify-content-center"
        style="min-height:1000px;padding-top:15%;padding-bottom:10%;padding-left:220px"
      >
        <div class="col-lg-4 col-sm-12">
          <div class="pricingTable" style="padding-top:10%;height:100%">
            <div class="pricingTable-header">
              <h3 class="title">Account Info</h3>
            </div>
            <ul class="pricing-content">
              <li>
                User Name:
                <span>{{ accountinfo.username }}</span>
              </li>
              <li v-for="auth in accountinfo.authorities" :key="auth.authority">
                {{ auth.authority }}
              </li>
            </ul>
            <nuxt-link
              class="hvr-rectangle-out pricingTable-signup"
              to="/admin/productlist/1"
              >Dashboard</nuxt-link
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  data: function() {
    return {
      accountinfo: {}
    };
  },
  created: function() {
    axios.get("http://localhost:8080/api/admin/accountinfo", {
      headers : {
        Authorization : this.$cookies.get("token")
      }
    }).then(res => {
      this.accountinfo = res.data
    })
  },
  layout: "adminlayout",
};
</script>
