<template>
  <section>
    <div
      class="copyrights p-0 m-0 justify-content-center"
      style="background-color:#432382"
    >
      <p class="m-0 pl-5 ml-3">
        <small>GET CONTACT WITH US ON SOCIAL NETWORK</small>
      </p>
    </div>
    <footer>
      <div class="copyrights pl-5">
        <div class="container-fluid">
          <div class="footer-distributed row justify-content-center d-flex">
            <div class="col-3 d-flex">
              <p class="lead">
                Company name
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="lead pl-2">
                Useful Links
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="lead pl-3">
                Other Websites
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="lead pl-5">
                Contact
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="footer-links">
                DIGI DIONOS
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="footer-links pl-2">
                DIGI DIONOS
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="footer-links pl-3">
                DIGI DIONOS
              </p>
            </div>
            <div class="col-3 d-flex">
              <p class="footer-links pl-5">
                DIGI DIONOS
              </p>
            </div>
          </div>
        </div>
        <!-- end container -->
      </div>
      <!-- end copyrights -->
    </footer>
  </section>
</template>
