<template>
  <section>
    <div class="sidebar-container pt-0">
      <div class="sidebar-logo">
        DIGI DINOS
      </div>
      <ul class="sidebar-navigation">
        <li class="header">DashBoard</li>
        <li>
          <nuxt-link to="/admin/productlist/1">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Product List
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/admin/productlist/add">
            <i class="fa fa-cart-plus" aria-hidden="true"></i> Add Product
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/admin/orderlist/1">
            <i class="fa fa-tags" aria-hidden="true"></i> Order List
          </nuxt-link>
        </li>
        <li class="header">Profile</li>
        <li>
          <nuxt-link to="/admin/accountinfo">
            <i class="fa fa-user" aria-hidden="true"></i> Your Profile
          </nuxt-link>
        </li>
        <li>
          <a @click.prevent.stop="logOut" href="/login">
            <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
          </a>
        </li>
      </ul>
    </div>
    <nuxt />
  </section>
</template>
<script>
export default {
  middleware : ["isAuthenticated"],
  methods : {
    logOut() {
      this.$cookies.set("token", null)
      this.$cookies.set("authority", null)
      this.$router.push("/login")
    }
  }
}
</script>
<style scoped>
.sidebar-container {
  position: fixed;
  width: 220px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background: #1a1a1a;
  color: #fff;
}

.content-container {
  padding-top: 20px;
}

.sidebar-logo {
  padding: 10px 15px 10px 30px;
  font-size: 20px;
  background-color: #2574a9;
}

.sidebar-navigation {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
}

.sidebar-navigation li {
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 100%;
  line-height: 20px;
}

.sidebar-navigation li a {
  padding: 10px 15px 10px 30px;
  display: block;
  color: #fff;
}

.sidebar-navigation li .fa {
  margin-right: 10px;
}

.sidebar-navigation li a:active,
.sidebar-navigation li a:hover,
.sidebar-navigation li a:focus {
  text-decoration: none;
  outline: none;
}

.sidebar-navigation li::before {
  background-color: #2574a9;
  position: absolute;
  content: "";
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  width: 3px;
  z-index: -1;
}

.sidebar-navigation li:hover::before {
  width: 100%;
}

.sidebar-navigation .header {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #151515;
  padding: 10px 15px 10px 30px;
}

.sidebar-navigation .header::before {
  background-color: transparent;
}

.content-container {
  padding-left: 220px;
}
</style>
