<template>
  <div>
    <section>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://digidinos.com" style="color: black">
            DIGI DINOS
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                    <nuxt-link class="nav-link js-scroll-trigger" to="/productlist/1" >PRODUCT LIST</nuxt-link>
                    </li>
                    <li class="nav-item">
                    <nuxt-link class="nav-link js-scroll-trigger" to="/mycart">MY CART</nuxt-link>
                    </li>
                    <li class="nav-item">
                    <nuxt-link class="nav-link js-scroll-trigger" to="/login">LOGIN</nuxt-link>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
        <nuxt />
    </section>
  </div>
</template>
<script>
export default {
  middleware : ["alreadyAuthenticated"]
}
</script>
