<template>
  <section>
    <div class="slider-new-2 owl-carousel owl-theme">
      <div v-for="link in links" class="item slider-screen" :key="link">
        <div class="slider-img-full">
          <img :src="link" alt="" />
        </div>
        <div class="container">
          <div class="slider-content text-white">
            <div class="in-box">
              <h2>DIGI DINOS</h2>
              <p>New products are added everyday login to explore!</p>
              <nuxt-link class="btn-slider hvr-rectangle-out" style="color: gray" to="/login"
                >Login</nuxt-link
              >
              <nuxt-link class="btn-slider hvr-rectangle-out" style="color : gray" to="/productlist/1"
                >Explore</nuxt-link
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/deluxe-interior/js/all.js"></script>
    <script src="/deluxe-interior/js/jquery.mobile.customized.min.js"></script>
    <script src="/deluxe-interior/js/jquery.easing.1.3.js"></script>
    <script src="/deluxe-interior/js/parallaxie.js"></script>
    <script src="/deluxe-interior/js/headline.js"></script>
    <script src="/deluxe-interior/js/owl.carousel.js"></script>
    <script src="/deluxe-interior/js/jquery.nicescroll.min.js"></script>
    <script src="/deluxe-interior/js/jqBootstrapValidation.js"></script>
    <script src="/deluxe-interior/js/contact_me.js"></script>
    <script src="/deluxe-interior/js/custom.js"></script>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import MyFooter from "~/components/footer.vue";
export default {
  middleware : ["alreadyAuthenticated"],
  components: {
    MyFooter
  },
  data() {
    return {
      links: [
        "/deluxe-interior/uploads/slider-01.jpg",
        "/deluxe-interior/uploads/slider-02.jpg",
        "/deluxe-interior/uploads/slider-03.jpg"
      ]
    };
  }
};
</script>
