<template>
  <section
    id="page-top"
    class="politics_version"
    style="max-width: 100%;overflow-x: hidden;"
  >
    >
    <div
      id="contact"
      class="section db"
      style="height:85%; padding-bottom:8.75%"
    >
      <div class="container-fluid">
        <div class="section-title text-center">
          <h3 style="padding-top:15%">Login for manager and employee</h3>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="contact_form">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Username"
                        v-model="username"
                        required
                      />
                      <p class="help-block text-danger"></p>
                    </div>
                    <span style="color:red">{{ error }}</span>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        class="form-control"
                        type="password"
                        placeholder="Passowrd"
                        required="required"
                        v-model="password"
                      />
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div class="col-lg-12 text-center">
                    <div id="success"></div>
                    <button
                      class="sim-btn hvr-rectangle-out"
                      data-text="Send Message"
                      type="submit"
                      value="Login"
                      @click.prevent.stop="login"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <MyFooter></MyFooter>
  </section>
</template>
<script>
import MyFooter from "~/components/footer.vue";
import axios from "axios";
export default {
  middleware : ["alreadyAuthenticated"],
  components: {
    MyFooter
  },
  data: function() {
    return {
      username: "",
      password: "",
      error: null
    };
  },
  methods: {
    async login() {
      try {
        var res = await axios.post("http://localhost:8080/api/admin/gettoken", {
          username: this.username,
          password: this.password
        });
        this.$cookies.set("token", res.data.jwt);
        this.$cookies.set("authority", res.data.authority)
        this.$router.push("/admin/accountinfo")
      } catch (e) {
        this.error = "Bad Credential"
      }
    }
  }
};
</script>
