<template>
  <section>
    <div style="min-height:1000px;background-color:#f2f3f5">
      <div
        class="container-fluid"
        style="background-color:#f2f3f5;padding-left:220px"
      >
        <div class="section-title text-center">
          <h3 style="padding-top:10%;color:black;">Order List</h3>
        </div>
        <div
          class="row"
          style="min-height:100%;padding-bottom:10%;padding-left:15px"
        >
          <div class="col-12" style="background-color: #f2f3f5;">
            <div class="table-responsive">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th class="text-center" scope="col"># Order</th>
                    <th class="text-center" scope="col">Date</th>
                    <th class="text-center" scope="col">Customer</th>
                    <th class="text-center" scope="col">Address</th>
                    <th class="text-center" scope="col">Email</th>
                    <th class="text-center" scope="col">Phone Number</th>
                    <th class="text-center" scope="col">View</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="orderInfo in orderlist.list"
                    :key="orderInfo.orderNum"
                  >
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderInfo.orderNum }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderInfo.orderDate }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderInfo.customerName }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderInfo.customerAddress }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderInfo.customerEmail }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>
                        {{ orderInfo.customerPhone }}
                      </span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <a
                        style="color:antiquewhite"
                        :href="'/admin/orderlist/order/' + orderInfo.id"
                        >View</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="contact-form">
              <div class="text-center row justify-content-center">
                <nuxt-link 
                  v-for="page in orderlist.navigationPages"
                  :key="page"
                  :to="page != -1 ? '/admin/orderlist/' + page : '/admin/orderlist/' + $route.params.page"
                  class="sim-btn hvr-rectangle-out"
                  style="width:50px;height:50px;"
                >{{page != -1 ? page : "..."}}</nuxt-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  layout: "adminlayout",
  created: function() {
    var url =
      "http://localhost:8080/api/admin/orderlist/" + this.$route.params.page;
    axios
      .get(url, {
        headers: {
          Authorization: this.$cookies.get("token")
        }
      })
      .then(res => {
        this.orderlist = res.data;
      });
  },
  data: function() {
    return {
      orderlist: {}
    };
  }
};
</script>
