<template>
  <section>
    <div style="min-height:1000px;background-color:#f2f3f5">
      <div
        class="container-fluid"
        style="background-color:#f2f3f5;padding-left:220px"
      >
        <div class="section-title text-center">
          <h5 style="padding-top:10%;color:black;">
            Customer Info: <br />Name:
            <span>{{ orderInfo.customerName }}</span> <br />Email:
            <span>{{ orderInfo.customerEmail }}</span> <br />Phone:
            <span>{{ orderInfo.customerPhone }}</span> <br />Address:
            <span>{{ orderInfo.customerAddress }}</span>
            <br /><br />Order Summary: <br />Total:<span>
              {{ orderInfo.amount }}
            </span>
          </h5>
        </div>
        <div
          class="row"
          style="min-height:100%;padding-bottom:10%;padding-left:15px"
        >
          <div class="col-12" style="background-color: #f2f3f5;">
            <div class="table-responsive">
              <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th class="text-center" scope="col">Product Code</th>
                    <th class="text-center" scope="col">Product Name</th>
                    <th class="text-center" scope="col">Quantity</th>
                    <th class="text-center" scope="col">Price</th>
                    <th class="text-center" scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    v-for="orderDetailInfo in orderInfo.details"
                    :key="orderDetailInfo.id"
                  >
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderDetailInfo.productCode }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderDetailInfo.productName }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderDetailInfo.quantity }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderDetailInfo.price }}</span>
                    </td>
                    <td class="text-center" style="vertical-align: sub;">
                      <span>{{ orderDetailInfo.amount }} </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import axios from "axios";
export default {
  layout: "adminlayout",
  data: function() {
    return {
      orderInfo: {}
    };
  },
  created: function() {
    var url =
      "http://localhost:8080/api/admin/orderlist/order/" +
      this.$route.params.orderid;
    axios
      .get(url, {
        headers: {
          Authorization: this.$cookies.get("token")
        }
      })
      .then(res => {
        this.orderInfo = res.data;
      });
  }
};
</script>
